<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>BD Educations : First of Education Base Portal in Bangladesh</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">

    {% stylesheets filter='cssrewrite'

        'assets/frontend/css/style.css'
        'assets/frontend/css/shortcode.css'
        'assets/frontend/css/responsive.css'
        'assets/frontend/3rd/font-awesome/font-awesome.css'
        'assets/frontend/3rd/pretty-photo/pretty-photo.css'
        'assets/frontend/3rd/layerslider/css/layerslider.css'
        'assets/frontend/3rd/select2/select2.css'
        'assets/frontend/css/custom.css'

    %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
{{ include('frontend/header.html.twig')}}
{% block body %}{% endblock %}
{{ include('frontend/footer.html.twig')}}
{% block footer %}
{% endblock footer %}
{% javascripts
    'assets/frontend/3rd/jquery/jquery-core.js'
    'assets/frontend/3rd/jquery/jquery-ui.js'
    'assets/frontend/3rd/jquery/jquery-tinynav.js'
    'assets/frontend/3rd/jquery/jquery-isotope.js'
    'assets/frontend/3rd/jquery/jquery-flexslider.js'
    'assets/frontend/3rd/jquery/jquery-countdown.js'
    'assets/frontend/3rd/jquery/jquery-masonry.js'
    'assets/frontend/3rd/jquery/jquery.leanModal.min.js'
    'assets/frontend/3rd/jquery/jquery-validate.js'
    'assets/frontend/3rd/pretty-photo/pretty-photo.js'
    'assets/frontend/3rd/select2/select2.js'
    'assets/frontend/3rd/layerslider/js/greensock.js'
    'assets/frontend/3rd/layerslider/js/layerslider.kreaturamedia.jquery.js'
    'assets/frontend/3rd/layerslider/js/layerslider.transitions.js'
    'assets/frontend/js/theme.js'

%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--[if IE]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.select2').select2({

            placeholder: "Select a institute level",
            allowClear: true,
            theme: "classic"

        });
        $( "#search" ).click(function() {

            $( ".tm-search" ).toggle('slow');
        });

        {% block documentready %}
        {% endblock %}

    });
</script>
<!-- Start of Async Drift Code -->
<script>
    !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                t.factory = function(e) {
                    return function() {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
            }), t.load = function(t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('6uyyd4mfgizi');
</script>
<!-- End of Async Drift Code -->
<style>
    .select2-container{
        height: 38px;;
    }
    .select2-container .select2-choice{
        height: 36px;
        line-height: 36px;
    }
    .accordion-title{
        border-bottom:1px solid #808080 ;
    }
    .tm-accordion .active{
        border-bottom:none ;
    }
    .accordion-container aside ul li a:hover{
        color: #fff7eb!important;
    }
    .tm-row-padding {
        padding:15px;
    }
    .tm-search{
        display: none;
    }
    .ul-listing li strong{
        display: inline-block;
        width: 125px;
        padding-right: 10px;
        text-align: left;
        font-weight: 400;
        color: #000000;
    }
    .small-link-right{
        float: right;
        font-size: 12px;
    }
    ul.tm-filter{
        margin-bottom: 0!important;
    }
    .accordion-container aside.hover-black ul li a:hover{
        color: black;
    }
    #tm-blog.tm-blog-style-magazine2 .page-content .tm-content .tm-main-content article .tm-content-inner .tm-category-block .entry-others ul li a{
        padding:5px 0;
    }

</style>

</body>
</html>
