<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
        <img src="{{ asset('assets/img/1.png') }}" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">{{ app.user.profile.name }}</div>
        <div class="profile-usertitle-job">{{ app.user }}</div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
        <button type="button" class="btn btn-danger btn-sm">Message</button>
    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav">
            <li class="active">
                <a href="{{ path(globalOption.subDomain ~ '_domain_authentication') }}">
                    <i class="glyphicon glyphicon-home"></i>
                    Overview </a>
            </li>
            <li>
                <a href="{{ path(globalOption.subDomain ~ '_webservice_buyer_order') }}">
                    <i class="fa fa-th-list"></i>
                    Oder </a>
            </li>
            <li>
                <a href="{{ path(globalOption.subDomain ~ '_webservice_buyer_preorder') }}">
                    <i class="fa fa-th-list"></i>
                    Pre-order </a>
            </li>
            <li>
                <a href="javascript:" data-action="{{ path(globalOption.subDomain ~ '_webservice_logout') }}"  data-toggle="tooltip" title="System Logout" class="logout btn-logout">
                    Sign Out <span class="fa fa-sign-out pull-right"></span> </a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>