<style>
    .header .brand {
        color: #fff;
        width: auto;
        margin-left: 0;
        font-weight: bold;
    }
    .nav>li>a>img {
        max-width: none;
        height: 30px;
    }
</style>
<ul class="nav pull-right">
    <!-- BEGIN USER LOGIN DROPDOWN -->
    <li class="dropdown user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" src="{{ asset('assets/img/avatar.png') }}" />
            <span class="username"> {{ app.user.profile.name }}</span>
            <i class="icon-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-key"></i> Log Out</a></li>
{#            <li><a href="{{ path('inbox_sms',{'shop':globalOption.slug}) }}">SMS</a></li>
            <li><a href="{{ path('inbox_email',{'shop':globalOption.slug}) }}">Email</a></li>#}
        </ul>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
</ul>